<div class="container-grid">
    <nav>
        <div class="logo">
            <div class="logo-circle"></div>
            U-V
        </div>
        <div class="nav-links">
            <a routerLink="/">Home</a>
            <a routerLink="/profile">Profile</a>
            <a >About</a>
        </div>
        <!-- <a href="#signup" class="sign-up">Sign Up</a> -->
    </nav>
    <main>    
        <ng-content class="content" *ngIf="!hasChildRoute(routerOutlet)">
            <h1>URBANVIBE</h1>
            <p>Through our "Green Talks" initiative, we commit to actively sharing our urban spaces while passionately preserving the places we hold dear. We believe in fostering a collaborative community spirit to ensure our city remains a pristine, welcoming environment for all its residents and visitors.</p>
            <div class="buttons">
                <a routerLink="/register" routerLinkActive="active" class="btn btn-primary">Sign Up</a>
                <a routerLink="/login" class="btn btn-secondary">Login</a>
            </div>
        </ng-content>
        <router-outlet #routerOutlet="outlet"></router-outlet>
        <div class="wave"></div>
        <div class="wave"></div>
    </main>
  </div>
  