.login-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  a{
    text-decoration: overline;
    color:black;
    font-size: 0.8rem;
    cursor: pointer;
  }

  a:hover{
    color: white;
  }