<div class="login-container">
  <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="loginForm.controls['email'].errors?.['required']">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors?.['email']">
          Enter a valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field><br>
      <button mat-raised-button (click)="onSubmit()" color="primary" type="submit" [disabled]="!loginForm.valid">Login</button><br><br>
      <a (click)="goHome()">←Back</a>    
    </form>
  </div>